#map_marker_preview {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  z-index: 100;
  width: 300px;
  height: 120px;
  background-color: #bfe3cb;
  background-color: #dff0e5;
  border-radius: 10px;
  padding: 15px;

  &::before,
  &::after {
    position: absolute;
    top: 40px;
    left: -20px;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid #bfe3cb;
    border-right: 10px solid #dff0e5;
  }

  img {
    width: 100px;
    margin-right: 20px;
  }

  span {
    display: inline-block;
  }

  .title {
    width: 100%;
    color: #333;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .desc {
    color: #555;
    font-size: 12px;
  }
}
